

/*fondo*/
body {
  animation: cambio-de-color 200s linear infinite;
 
}

@keyframes cambio-de-color {
  0% {
    background-color: rgb(141, 24, 43);
  }
  25% {
    background-color: blue;
  }
  50% {
    background-color: rgb(70, 160, 70);
  }
  75% {
    background-color: yellow;
  }
  100% {
    background-color: purple;
  }
}

/*titulo*/
header {
  position: relative;
  z-index: 1;
}

h1 {
  opacity: 0.0;
  /*font-family: 'screen'Silk;*/
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgb(15, 15, 15);
  text-align: center;
  font-size: 2em;
  animation: crecer 4s linear;
  animation-fill-mode: forwards;
}

@keyframes crecer {
  0% {
    font-size: 1em;
  }
  100% {
    font-size: 4em;
  }
}

/*recuadro*/

textarea[name="user-input"] {
  opacity: 0.0;
  display: block;
  margin:  auto;
  width: 900px;
  height: 500px;
  border: 4px solid rgb(102, 33, 207);
}




/*Boton*/

#reset-button {
 opacity: 0.0; 
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: black;
  background-color: #f9fcf9;
  border-radius: 15px;
  position: absolute;
  left: 45%;
}

#reset-button:active {
  background-color: #e9d9e2;
  box-shadow: 0 5px #181717;
  transform: translateY(4px);
}

.my-word-count {
  opacity: 0.0;
  font-size: 50px;
  border: #181717;
  
}

li.my-word-count {
  opacity: 0.0;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 25px;
}

span.my-word-count {
  opacity: 0.0;
  font-size: 50px;
  margin-right: 40px;
}


.my-character-count {
  opacity: 0.0;
  font-size: 50px;
  border: #181717;
}

li.my-character-count {
  opacity: 0.0;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 30px;
  padding-right: 10px;
}

span.my-character-count {
  opacity: 0.0;
  font-size: 50px;
  margin-right: 45px;
}

.my-character-no-spaces-count {
  opacity: 0.0;
  font-size: 50px;
  border: #181717;
}

li.my-character-no-spaces-count {
  opacity: 0.0;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 30px;
  padding-right: 10px;
}

span.my-character-no-spaces-count {
  opacity: 0.0;
  font-size: 50px;
  margin-right: 45px;
}

.my-number-count{
  opacity: 0.0;
  font-size: 50px;
}

li.my-number-count{
  opacity: 0.0;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 30px;
  padding-right: 10px;
}
span.my-number-count{
  opacity: 0.0;
  font-size: 50px;
  margin-right: 45px;
}

.my-number-sum{
  opacity: 0.0;
  font-size: 50px;
}
li.my-number-sum{
  opacity: 0.0;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 30px;
  padding-right: 10px;
}
span.my-number-sum{
  opacity: 0.0;
  font-size: 50px;
  margin-right: 45px;
}

.my-word-length-average{
  opacity: 0.0;
  font-size: 50px;
}

li.my-word-length-average{
  opacity: 0.0;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 30px;
  padding-right: 10px;
}

span.my-word-length-average{
  opacity: 0.0;
  font-size: 50px;
  margin-right: 45px;
}
/*forma a los li*/


h3.titulo-bienvenida {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 10px 20px;
  background-color: #fff;
  cursor: pointer;
  font-size: 100px;
}

h2.titulo-bienvenida {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 10px 20px;
  background-color: #ffffff4c;
  cursor: pointer;
  font-size: 100px;
}

/*Final*/
footer {
  opacity: 0.0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #090909;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  
  font-weight: bold;
  font-family: 'Silkscreen';
}
